{% load is_liked %}
{% load static %}
{% is_liked post.pk request.user.pk as liked_by_user %}
{{ request.user.pk|json_script:'user-id' }}


<div class="card">
    <div class="card-body">
        <div class="top-row">
            <a href="{% url 'network:user' post.user.pk %}"
               class="card-title">{{post.user.username}}</a>
            {% if request.user.email ==  post.user.email %}
            <button class="card-title edit-button red pb-0 bold"
                    type="submit"
                    id="{{post.pk}}"
                    value="edit"
                    name="edit"
                    onclick="editPost('{{post.pk}}')">
                Edit
            </button>
            {% endif %}
        </div>
        <div id="{{post.pk}}"
             class="post-container">
            <p id="{{post.pk}}"
               class="card-text post-body">{{post.body}}</p>
        </div>
        {% if liked_by_user %}
        <button class="like-button"
                type="submit"
                id="{{post.pk}}"
                value=like
                name=like
                onclick="toggleLiked('{{post.pk}}')">
            <i id="{{post.pk}}"
               class="fa fa-heart"></i>
        </button>
        {% else %}
        <button class="like-button"
                type="submit"
                id="{{post.pk}}"
                value=like
                name=like
                onclick="toggleLiked('{{post.pk}}')">
            <i id="{{post.pk}}"
               class="fa fa-heart-o"></i>
        </button>
        {% endif %}
        <span id="{{post.pk}}"
              class="likes-count">{{post.likes.count}}</span>
        <p class="card-text"><small class="text-muted">{{post.timestamp}}</small></p>
    </div>
</div>
{% block script %}
<script type="text/javascript"
        src="{% static 'network/main.js' %}"></script>
{% endblock %}