{% load is_liked %}
{% is_liked post.pk request.user.pk as liked_by_user_flag %}

<div class="card">
    <div class="card-body">
        <pre>{{post.likes.length}}</pre>
        <a href="{% url 'network:user' post.user.pk %}"
           class="card-title">{{post.user.username}}</a>
        <p class="card-text">{{post.body}}</p>
        <form class="follow-button-form"
              action="{% url 'network:like' post.pk %}"
              method="post">
            {% csrf_token %}
            {% if liked_by_user_flag %}
            <button class="unlike-button"
                    type="submit"
                    value=like
                    name=like>
                <i class="fa fa-heart"></i>
            </button>
            {% else %}
            <button class="like-button"
                    type="submit"
                    value=like
                    name=like>
                <i class="fa fa-heart-o"></i>
            </button>
            {% endif %}
            <span class="likes-count">{{post.likes.count}}</span>
        </form>
        <p class="card-text"><small class="text-muted">{{post.timestamp}}</small></p>
    </div>
</div>