.container {
    width: 50%;
    margin: 0 auto;
    margin-top: 15px;
}

.follow {
    display: flex;
}

.likes-count {
    margin-left: 5px;
}

.fa-heart {
    color: indianred;
}

.like-button, .follow-button, .unfollow-button {
    background: none;
    cursor: pointer;
    border: 0;
}

button:focus {
    outline: 0;
}

.card {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error {
    padding: 0;
    list-style: none;
    color: indianred;
}

.bold {
    font-weight: bold;
}

ul {
    /* margin-top: 15px; */
    padding: 0;
}

.blue, .follow-button {
    color: cornflowerblue;
}

.red, .unfollow-button {
    color: indianred;
}

.follow-button, .unfollow-button {
    padding-left: 0;
}